<!DOCTYPE html>
<html lang="en" git-version="<%=gitVersion%>">
<head>
    <base href="/">
    <script> //Analytics
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

        if(~document.location.hostname.indexOf('cbd.int')){
            ga('create', 'UA-1996573-1', 'auto');
            ga('set',    'hostname', window.location.hostname);
            ga('set',    'location', undefined);

            //tag manager
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NL82D37');
        }
    </script>
    
    <script src="/app/libs/requirejs/require.js?v=<%=gitVersion%>"></script>
    <script src="/app/boot.js?v=<%=gitVersion%>"></script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <title ng-bind="$root.page.title">Convention on Biological Diversity</title>
    <meta name="description" content="{{$root.page.description || ngMeta['og:description']}}" ng-if="$root.page.description || ngMeta['og:description']">
    <meta property="og:title" content="{{ngMeta['og:title']}}" />
    <meta property="og:type" content="{{ngMeta['og:type']}}" ng-if="ngMeta['og:type']"/>
    <meta property="og:locale" content="{{ngMeta['og:locale']}}" ng-if="ngMeta['og:locale']"/>
    <meta property="og:description" content="{{ngMeta['og:description']}}" />
    <meta property="fb:app_id"   content="{{ngMeta['fb:app_id']}}" ng-if="ngMeta['fb:app_id']">
    <meta property="og:url" content="{{ngMeta['og:url']}}" ng-if="ngMeta['og:url']">
    <meta property="og:image" content="{{ngMeta['og:image']}}" ng-if="ngMeta['og:image']">
    <meta property="og:image:height" content="{{ngMeta['og:image:height']}}" ng-if="ngMeta['og:image:height']">
    <meta property="og:image:width" content="{{ngMeta['og:image:width']}}" ng-if="ngMeta['og:image:width']">

    <meta property="og:profile:first_name" content="{{ngMeta['og:profile:first_name']}}" ng-if="ngMeta['og:profile:first_name']">
    <meta property="og:profile:last_name" content="{{ngMeta['og:profile:last_name']}}" ng-if="ngMeta['og:profile:last_name']">
    <meta property="og:profile:gender" content="{{ngMeta['og:profile:gender']}}" ng-if="ngMeta['og:profile:gender']">
    <meta property="fb:profile_id" content="{{ngMeta['fb:profile_id']}}" ng-if="ngMeta['fb:profile_id']">
    <meta property="og:see_also" content="{{ngMeta['og:see_also']}}" ng-if="ngMeta['og:see_also']">

    <meta property="article:author" content="{{ngMeta['article:author']}}" ng-if="ngMeta['article:author']">
    <meta property="article:published_time" content="{{ngMeta['article:published_time']}}" ng-if="ngMeta['article:published_time']">
    <meta property="article:publisher" content="{{ngMeta['article:publisher']}}" ng-if="ngMeta['article:publisher']">
    <meta property="article:section" content="{{ngMeta['article:section']}}" ng-if="ngMeta['article:section']">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CBDNews">
    <meta name="twitter:creator" content="{{ngMeta['twitter:creator'] || '@CBDNews'}}"  >
    <meta name="twitter:title" content="{{ngMeta['twitter:title']}}" ng-if="ngMeta['twitter:title']">
    <meta name="twitter:description" content="{{ngMeta['twitter:description']}}" ng-if="ngMeta['twitter:description']">
    <meta name="twitter:image" content="{{ngMeta['twitter:image']}}" ng-if="ngMeta['twitter:image']">
    <meta name="twitter:image:src" content="{{ngMeta['twitter:image']}}" ng-if="ngMeta['twitter:image']">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/app/libs/bootstrap/dist/css/bootstrap.min.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="/app/libs/font-awesome/css/font-awesome.min.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="/app/libs/animate.css/animate.min.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="/app/libs/magnific-popup/dist/magnific-popup.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="/app/libs/flag-icon-css/css/flag-icon.css?v=<%=gitVersion%>" >
    <link rel="stylesheet" href="app/libs/angular-toastr/dist/angular-toastr.min.css?v=<%=gitVersion%>" >
    <link rel="stylesheet" href="/app/libs/ng-dialog/css/ngDialog.min.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="/app/libs/ng-dialog/css/ngDialog-theme-default.min.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="/app/views/meetings/documents/agenda.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="/app/libs/bootstrap-datepicker/css/datepicker.css?v=<%=gitVersion%>">

    <style>

    [ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

    body, .greybg { background: #f4f4f4; }
    .whitebg      { background: #FFFFFF; }

    header.mobile.navbar              { color:#009B48; background-color:white; margin-bottom: 1px; }
    header.mobile.navbar a            { color:#009B48; }
    header.mobile .navbar-nav a:hover { color:white;background-color:#009B48 }
    header.mobile .navbar-header      { font-weight:semi-bold; }
    header.mobile .navbar-header img.logo {
        height:55px;
        vertical-align:middle;
        margin-left:3px;
    }

    header.large > div.container > div { border-bottom:solid 1px #f4f4f4; }
    header.large   img.logo          { height:70px }
    header.large .navbar-nav a       { color:#009B48; }
    header.large .navbar-nav a:hover { color:white; background-color:#009B48; }


    footer {  display: block; padding: 15px 20px; }
    footer ul { list-style-type: none; padding:0px; }
    footer ul li a { font-size: 14px; color: #666; }
    footer ul li a:hover { color: #000; }
    footer h4 {
      font-size: 14px;
      color: #666;
      font-weight: bold;
    }

    footer.standard ul.list-inline > li { padding: 0px 5px; border-right:solid 1px #666;font-size: 14px;}
    footer.standard ul.list-inline > li:last-child { border-right: none; }

    h1 { font-size: 30px; }
    h2 { font-size: 26px; }
    h3 { font-size: 22px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
    h6 { font-size: 15px; }

    .view h1, .view h2, .view h3, .view h4, .view h5, .view h6, .view .h1, .view .h2, .view .h3, .view .h4, .view .h5, .view .h6 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color:#009B48;
    }

    @media (min-width: 768px) {
        button.hidden-xs { display: inline-block !important; }
        span.hidden-xs   { display: inline !important; }
    }

    @media (max-width: 767px) {
        button.visible-xs { display: inline-block !important; }
        span.visible-xs   { display: inline !important; }
    }

    @media print {
      a[href]:after {
        content: none !important;
      }
    }

    </style>
</head>
<body class="ltr">

    <template-header></template-header>

    <!-- CONTENT -->
    <a name="view"></a>
    <div class="container whitebg view" >
        <ng-view></ng-view>
    </div>

    <template-footer></template-footer>


    <div class="device-size visible-xs" size="xs"></div>
    <div class="device-size visible-sm" size="sm"></div>
    <div class="device-size visible-md" size="md"></div>
    <div class="device-size visible-lg" size="lg"></div>
</body>
</html>
<!-- -->
