<!DOCTYPE html>
<html lang="en" ng-controller="TemplateController as templateCtrl" git-version="<%=gitVersion%>" cdn-url="<%=cdnUrl%>"
captcha-site-key-v2="<%=captchaV2key%>" captcha-site-key-v3="<%=captchaV3key%>">
<head>
    <base href="/">
    <% if(googleAnalyticsCode) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%=googleAnalyticsCode%>"></script>
    <% } else { %>
        <script>console.warn('Google Analytics key not set.');</script>
    <% } %>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments)};gtag("js", new Date());gtag("set", "developer_id.dMDhkMT", true);gtag("config", "<%=googleAnalyticsCode%>", {"groups":"default","page_placeholder":"PLACEHOLDER_page_location","allow_ad_personalization_signals":false});</script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2019%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces5%2Ces6%2Ces7%2CHTMLCanvasElement.prototype.toBlob%2Cconsole"></script>
    <script src="<%=`${cdnUrl}combine/${[
        'npm/jquery@3.4.1/dist/jquery.slim.min.js'
        ].concat(baseLibs).concat([
        'npm/popper.js@1.16.0/dist/umd/popper.min.js',
        'npm/bootstrap@4.1.3/dist/js/bootstrap.min.js',
        'npm/requirejs@2.3.6/require.min.js',
        'npm/regenerator-runtime@0.14.1/runtime.js'
    ]).join(',')}`%>"></script>
    <script>
        require.config({ waitSeconds: 30, baseUrl : '/app/', urlArgs: 'v=<%=gitVersion%>' });
        require(["boot"], function(boot){
            var bootFn = boot.default || boot;
            bootFn(window, require, define);
        });
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BenchNine:300,400,600,900" media="all" />
    <link rel="stylesheet" href="<%=`${cdnUrl}npm/font-awesome@4.7.0/css/font-awesome.css`%>">
    <link rel="stylesheet" href="<%=`${cdnUrl}combine/${[
        'npm/bootstrap@4.1.3/dist/css/bootstrap.min.css',
        'npm/@scbd/www-css@1.0.1/dist/style.min.css',
        'npm/animate.css@3.5.2/animate.min.css',
        ].join(',')}`%>">

    <link rel="stylesheet" href="/app/template-phoenix-overrides.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="/app/css/bootstrap-migrate-3-to-4.css?v=<%=gitVersion%>">

    <script src="https://www.recaptcha.net/recaptcha/api.js"></script>
    <title>Convention on Biological Diversity</title>
    <meta property="og:site_name" content="Convention on Biological Diversity" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

    [ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

                .mobile-app-visbile,
                .mobile-app-visbile-inline,
    .mobile-app .mobile-app-hidden         { display: none    }
    .mobile-app .mobile-app-visbile        { display: block;  }
    .mobile-app .mobile-app-visbile-inline { display: inline; }

    .greybg { background: #f4f4f4; }
    body, .whitebg      { background: #FFFFFF; }

    header.mobile.navbar              { color:#009B48; background-color:white; margin-bottom: 1px; }
    header.mobile.navbar a            { color:#009B48; }
    header.mobile .navbar-nav a:hover { color:white;background-color:#009B48 }
    header.mobile .navbar-header      { font-weight:semi-bold; }
    header.mobile .navbar-header img.logo {
        height:55px;
        vertical-align:middle;
        margin-left:3px;
    }

    header.large > div.container > div { border-bottom:solid 1px #f4f4f4; }
    header.large   img.logo          { height:70px }
    header.large .navbar-nav a       { color:#009B48; }
    header.large .navbar-nav a:hover { color:white; background-color:#009B48; }


    /* footer {  display: block; padding: 15px 20px; }
    /* footer ul { list-style-type: none; padding:0px; } */
    footer ul li a { font-size: 14px; color: #666; }
    footer ul li a:hover { color: #000; }
    footer h4 {
      font-size: 14px;
      color: #666;
      font-weight: bold;
    } */

    footer.standard ul.list-inline > li { padding: 0px 5px; border-right:solid 1px #666;font-size: 14px;}
    footer.standard ul.list-inline > li:last-child { border-right: none; }

    h1 { font-size: 30px; }
    h2 { font-size: 26px; }
    h3 { font-size: 22px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
    h6 { font-size: 15px; }

    .view h1, .view h2, .view h3, .view h4, .view h5, .view h6, .view .h1, .view .h2, .view .h3, .view .h4, .view .h5, .view .h6 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color:#009B48;
    }

    @media (min-width: 768px) {
        button.hidden-xs { display: inline-block !important; }
        span.hidden-xs   { display: inline !important; }
    }

    @media (max-width: 767px) {
        button.visible-xs { display: inline-block !important; }
        span.visible-xs   { display: inline !important; }
    }

    @media print {
      a[href]:after {
        content: none !important;
      }
    }
    #page{padding-bottom: 0px;}
    </style>

        <style>

        /* .page-content{ margin-top: 2em;} */

        #block-loginlinkblock ul.dropdown-menu { background-color: #01463a; }
        .meetingnav-table a, .meetingnav-table b { font-size: 1.04rem; }

        .meeting-documents .table > tbody.documents > tr > td, .meeting-documents .table th {
            padding: .20rem!important;
            vertical-align: top;
        }
        .meeting-documents div > table > tbody > tr > td:first-child { padding-top: 6px!important; }


        .ngdialog.printsmart > .ngdialog-content > .modal-content > .modal-header {
            display:block
        }

        .ngdialog.printsmart > .ngdialog-content > .modal-content .text,
        .ngdialog.printsmart > .ngdialog-content > .modal-content .text * {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
        }

        .printsmart .language,
        .document-files .language
        {
            font-size: 14px;
        }

        .printsmart a.language:not([href]),
        .document-files a.language:not([href]) {
            color: inherit;
        }

        .ngdialog.printsmart .help-block {
            font-style: italic;
            font-size: 85%;
            opacity: 0.75;
        }
        .ngdialog.printsmart .close {
            font-size: 35px;
        }
        .header .navbar-wrapper.desktop-only > nav.sub-nav{
        margin-top: 0;
        }
        /* @media (min-width:767px){ .page-content{ margin-top: 4em;} }
        @media (min-width:992px){ .page-content{ margin-top: 10.5em;} } */

    </style> 
    <link rel="stylesheet" href="app/css/article-cover-image.css">   
</head>
<body class="ltr bootstrap4 phoenix" ng-class="::{ 'mobile-app' : templateCtrl.viewOnly }">
 <div id="page-wrapper">
      <div id="page">
        <!-- HEADER -->
          <div style="display:<%=siteAlert ? 'block' : 'none'%>" class="alert alert-danger mb-0"><%=siteAlert%></div>
          <!-- <vue-component ng-if="!templateCtrl.viewOnly" name="PageHeaderFixed" ></vue-component>                  
          <vue-component ng-if="!templateCtrl.viewOnly" name="PageHeader" ></vue-component> -->
          <vue-component ng-if="!templateCtrl.viewOnly" name="ScbdHeader" ></vue-component>
          <!-- CONTENT -->
          <div class="page-content">
              <div id="conferenceHeader"></div>
              <div class="container">
                  <bread-crumbs ng-if="!templateCtrl.viewOnly"></bread-crumbs>
                  <ng-view autoscroll="true"></ng-view>
              </div>                                
              <a href="#" class="go-to-top-btn"></a>
          </div>
          <!-- FOOTER -->
          <!-- <vue-component ng-if="!templateCtrl.viewOnly" name="PageFooter" ></vue-component> -->
          <vue-component ng-if="!templateCtrl.viewOnly" name="ScbdFooter" ></vue-component>
      </div>
  </div>

  <!-- JS screen-size detector -->
  <div class="device-size visible-xs" size="xs"></div>
  <div class="device-size visible-sm" size="sm"></div>
  <div class="device-size visible-md" size="md"></div>
  <div class="device-size visible-lg" size="lg"></div>
</body>
</html>
<!-- -->
