<!DOCTYPE html>
<html lang="en" ng-controller="TemplateController as templateCtrl" git-version="<%=gitVersion%>" cdn-url="<%=cdnUrl%>">
<head>
    <base href="/">
    <script> //Analytics
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

        if(~document.location.hostname.indexOf('cbd.int')){
            ga('create', 'UA-1996573-1', 'auto');
            ga('set',    'hostname', window.location.hostname);
            ga('set',    'location', undefined);

            //tag manager
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NL82D37');
        }
    </script>
    <!-- <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/708","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","ajaxPageState":{"libraries":"better_exposed_filters\/general,bootstrap_barrio\/form,bootstrap_barrio\/global-styling,bootstrap_barrio\/node,bootstrap_sass\/gallery,bootstrap_sass\/global-styling,cbd_article\/cbd_article.article,cbd_article\/cbd_article.node_form,cbd_carousel\/cbd_carousel.carousel,core\/html5shiv,layout_discovery\/onecol,paragraphs\/drupal.paragraphs.unpublished,search_api_autocomplete\/search_api_autocomplete,system\/base,views\/views.module","theme":"bootstrap_sass","theme_token":null},"ajaxTrustedUrl":{"\/search":true},"search_api_autocomplete":{"search":{"auto_submit":true,"min_length":2}},"user":{"uid":0,"permissionsHash":"d875d49554b92b565754f36cfa619628bc4e5bfdeaeb1b5a4d5598b8993430fe"}}</script> -->
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>
    <script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery/jquery.min.js?v=3.2.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.2.0"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/misc/drupalSettingsLoader.js?v=8.6.4"></script>
	<!-- <script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/misc/drupal.js?v=8.6.4"></script> -->
	<!-- <script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/misc/drupal.init.js?v=8.6.4"></script> -->
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/data-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/disable-selection-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/form-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/labels-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/jquery-1-7-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/scroll-parent-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/tabbable-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/unique-id-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/version-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/focusable-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/ie-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/keycode-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/plugin-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/safe-active-element-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/safe-blur-min.js?v=1.12.1"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/ui/widget-min.js?v=1.12.1"></script>
	<!-- <script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/misc/autocomplete.js?v=8.6.4"></script> -->
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/themes/custom/bootstrap_sass/js/popper.min.js?v=8.6.4"></script>
	<script src="//s3.amazonaws.com/phoenix.www.cbd.int/themes/custom/bootstrap_sass/js/bootstrap.min.js?v=8.6.4"></script>
	<!-- <script src="//s3.amazonaws.com/phoenix.www.cbd.int/themes/custom/bootstrap_sass/js/global.js?v=8.6.4"></script> -->
    <!-- <script> !function (e) { var s = {}; function o(l) { if (s[l]) return s[l].exports; var a = s[l] = { i: l, l: !1, exports: {} }; return e[l].call(a.exports, a, a.exports, o), a.l = !0, a.exports } o.m = e, o.c = s, o.d = function (e, s, l) { o.o(e, s) || Object.defineProperty(e, s, { configurable: !1, enumerable: !0, get: l }) }, o.n = function (e) { var s = e && e.__esModule ? function () { return e.default } : function () { return e }; return o.d(s, "a", s), s }, o.o = function (e, s) { return Object.prototype.hasOwnProperty.call(e, s) }, o.p = "/", o(o.s = 8) }({ 8: function (e, s, o) { e.exports = o(9) }, 9: function (e, s) { !function (e, s) { Drupal.behaviors.topNavigation = { attach: function (s) { var o = function (s) { var o = e(".header .mobile-menu"); o.hasClass("show-mini-mobile-menu") && s ? o.removeClass("show-mini-mobile-menu") : o.addClass("show-mini-mobile-menu") }; e(window).width() > 992 && e(".header .main-menu-item", s).hover(function () { e(".header .show").removeClass("show") }), e(window).width() < 992 && (e(".second-level .dropdown-second-item", s).click(function () { e(".first-level").addClass("custom-show"), e(".second-level").addClass("custom-show") }), e(".header .navbar-collapse").click(function () { var s = e(".first-level"), l = e(".second-level"); !s.hasClass("show") || s.hasClass("custom-show") && e(".header .mobile-nav-wrapper").hasClass("show-mini-mobile-menu") || (s.removeClass("custom-show"), s.removeClass("show"), l.removeClass("custom-show"), l.removeClass("show"), s.find("a").addClass("show"), o(!0), s.toggle(), s.show()) }), e(".first-level").click(function () { var s = e(".first-level"), l = e(".second-level"); s.hasClass("show") && !e(".header .mobile-nav-wrapper").hasClass("show-mini-mobile-menu") && (s.removeClass("custom-show"), s.removeClass("show"), l.removeClass("custom-show"), l.removeClass("show"), s.find("a").addClass("show"), o(!0), s.toggle(), s.show()) }), e(".header .mobile-menu .main-nav .first-level .nav-link.dropdown", s).on("click", function () { var s = e(this).parent(), l = e(".first-level"), a = e(".second-level"); a.hasClass("custom-show") ? (o(!1), a.removeClass("custom-show"), a.removeClass("show"), l.removeClass("custom-show"), l.removeClass("show"), l.hide(), s.show()) : (o(!0), l.toggle(), s.toggle()) }), e(".header .mobile-only .navbar-toggler", s).on("click", function () { e("body").toggleClass("lockscroll"), e(".header .mobile-nav-wrapper").toggleClass("mobile-wrapper") }), e(".header .mobile-menu .main-nav .third-level", s).on("click", function () { o(!1) }), e(".header .mini-menu-icons span", s).on("click", function () { e(".header .previous-menu-btn").click() }), e(".header .previous-menu-btn", s).on("click", function () { var s = e(".first-level"), l = e(".second-level"); e(".third-level").hasClass("show") ? o(!1) : (e(".second-level").hasClass("show") || e(".second-level").hasClass("custom-show")) && (s.removeClass("custom-show"), s.removeClass("show"), l.removeClass("custom-show"), l.removeClass("show"), e(".first-level a").addClass("show"), o(!0), s.toggle(), s.show()) })) } } }(jQuery) } }); </script> -->
    
    <script src="<%=cdnUrl%>requirejs@2.2.0/require.js"></script>
    <script async src="/app/boot.js?v=<%=gitVersion%>"></script>
    <link rel="stylesheet" href="/app/css/bootstrap-migrate-3-to-4.css?v=<%=gitVersion%>">
    <link rel="stylesheet" href="<%=cdnUrl%>font-awesome@4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="<%=cdnUrl%>ng-dialog@0.6.1/css/ngDialog.min.css">
    <link rel="stylesheet" href="<%=cdnUrl%>ng-dialog@0.6.1/css/ngDialog-theme-default.min.css">

    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <title>Convention on Biological Diversity</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style media="all">
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/modules/custom/cbd_article/css/navigation-block.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/modules/custom/cbd_carousel/css/carousel.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/modules/custom/cbd_article/css/node_form.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/ajax-progress.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/align.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/autocomplete-loading.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/fieldgroup.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/container-inline.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/clearfix.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/details.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/hidden.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/item-list.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/js.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/nowrap.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/position-container.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/progress.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/reset-appearance.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/resize.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/sticky-header.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/system-status-counter.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/system-status-report-counters.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/system-status-report-general-info.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/tabledrag.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/tablesort.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/system/css/components/tree-child.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/views/css/views.module.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/themes/base/core.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/themes/base/menu.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/themes/base/autocomplete.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/modules/layout_discovery/layouts/onecol/onecol.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/modules/contrib/paragraphs/css/paragraphs.unpublished.css");
    </style>
    <style media="all">
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/modules/contrib/better_exposed_filters/css/better_exposed_filters.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/jquery.ui/themes/base/theme.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/modules/contrib/search_api_autocomplete/css/search_api_autocomplete.css");
    </style>
    <style media="all">
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/themes/contrib/bootstrap_barrio/css/components/node.css");
        @import url("/app/template-phoenix.css?v=<%=gitVersion%>"); 
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/themes/custom/bootstrap_sass/lib/photoswipe/photoswipe.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/themes/custom/bootstrap_sass/lib/photoswipe/default-skin.css");
        @import url("//s3.amazonaws.com/phoenix.www.cbd.int/themes/contrib/bootstrap_barrio/css/components/form.css");
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BenchNine:300,400,600,900" media="all" />

	<!--[if lte IE 8]>
    <script src="//s3.amazonaws.com/phoenix.www.cbd.int/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
    <![endif]-->

	<!--[if IE 9]>
    <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie9.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <link href="/themes/custom/bootstrap_sass/css/ie-9-fix.css" rel="stylesheet">
    <![endif]-->

	<!--[if lt IE 9]>
    <style type="text/css">
      #page-wrapper {
        display: none;
      }
    </style>
    <![endif]-->

    <style>
        @import url("/app/template-phoenix-overrides.css?v=<%=gitVersion%>");

        .page-content{ margin-top: 2em;}

        #block-loginlinkblock ul.dropdown-menu { background-color: #01463a; }
        .meetingnav-table a, .meetingnav-table b { font-size: 1.04rem; }

        .meeting-documents .table td, .meeting-documents .table th {
            padding: .20rem!important;
            vertical-align: top;
        }
        .meeting-documents div > table > tbody > tr > td:first-child { padding-top: 6px!important; }


        .ngdialog.printsmart > .ngdialog-content > .modal-content > .modal-header {
            display:block
        }

        .ngdialog.printsmart > .ngdialog-content > .modal-content .text,
        .ngdialog.printsmart > .ngdialog-content > .modal-content .text * {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
        }

        .printsmart .language,
        .document-files .language
        {
            font-size: 14px;
        }

        .printsmart a.language:not([href]),
        .document-files a.language:not([href]) {
            color: inherit;
        }

        .ngdialog.printsmart .help-block {
            font-style: italic;
            font-size: 85%;
            opacity: 0.75;
        }
        .ngdialog.printsmart .close {
            font-size: 35px;
        }
        .header .navbar-wrapper.desktop-only > nav.sub-nav{
          margin-top: 0;
        }
        @media (min-width:767px){ .page-content{ margin-top: 4em;} }
        @media (min-width:992px){ .page-content{ margin-top: 10.5em;} }

    </style>
</head>

    <body id="phoenix" class="layout-no-sidebars phoenix bootstrap4">

        <script>
            if (screen.width < 375) {
                var viewportMetaTag = document.querySelector('meta[name="viewport"]');
                viewportMetaTag.setAttribute('content', 'user-scalable=no,width=375');
            }
        </script>
        <!--[if lt IE 9]>
        The site doesn’t support this version of the browser.<br>
        Please download the latest version of Internet Explorer
        <a href="https://www.microsoft.com/en-us/download/internet-explorer-9-details.aspx" style="font-family: inherit; font-weight:400;">
            here
        </a>
        <![endif]-->
    
        <a href="#main-content" class="visually-hidden focusable skip-link">Skip to main content
        </a>
    
        <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
            <div id="page-wrapper">
                <div id="page">
                    <vue-component name="PageHeaderFixed" ></vue-component>                  
                    <vue-component name="PageHeader" ></vue-component>
                    <div class="page-content">
                        <div id="conferenceHeader"></div>
                        <div class="container">
                            <bread-crumbs></bread-crumbs>
                            <ng-view></ng-view>
                        </div>                                
                        <a href="#" class="go-to-top-btn"></a>
                    </div>
                    
                    <vue-component name="PageFooter" ></vue-component>
                </div>
            </div>
        </div>
    <!-- JS screen-size detector -->
    <div class="device-size d-block d-sm-none" size="xs"></div>
    <div class="device-size d-none d-sm-block d-md-none" size="sm"></div>
    <div class="device-size d-none d-md-block d-lg-none" size="md"></div>
    <div class="device-size d-none d-lg-block d-xl-none" size="lg"></div>    
    <div class="device-size d-none d-xl-block" size="xl"></div>    
    </body>
</html>
